body{
    margin: 0;
    background: url('https://cdn.pixabay.com/photo/2016/07/02/12/21/eclipse-1492818_960_720.jpg') fixed no-repeat;
    background-position: center center;
    background-size: cover;
}
h1{
    position: relative;
    top: 20%;
    margin-top: 50px;
    text-align: center;
    color: white;
}
h2{
    position: relative;
    top: 20%;
    text-align: center;
    color: white;
}
ul{
    position: relative;
    top: 20%;
    margin-top: 50px;
    text-align: center;
    list-style: none;
}
a{
    background-color: red;
    text-decoration: none;
}
button {
    margin-right: 42px;
    border-radius: 5px;  
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

button:hover {
    background-color: #008CBA;
    color: white;
}
