body{
    margin: 0;
}
h1{
    margin-top: 50px;
    text-align: center;
}
h2{
    text-align: center;
}
ul{
    position: relative;
    margin-top: 50px;
    text-align: center;
    list-style: none;
}
a{
    background-color: red;
    text-decoration: none;
}
button {
    margin-right: 42px;
    border-radius: 5px;  
    border: none;
    padding: 16px 32px;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

button:hover {
    background-color: #008CBA;
    color: white;
}
